/*******************************************************************************
Style css - MONET
*******************************************************************************/

.infoGene {
  background-color: #3c8dbc; 
  color: white; 
  font-weight: bold; 
  padding:3px;
}
